<div class="blogContainer">
    <mat-card class="blog">
        <mat-card-header>
            <mat-card-title>About Me</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="cardImage floatLeft" matCardImage src="assets/images/tiny-god-tier-frozen-hd.gif">
            <p>I am Mattie Schraeder, a C# and PHP Developer in Jacksonville, IL. In high school I dabbled with C++ and TI-BASIC. I went to college at Lincoln Land Community College where I developed a Dungeons and Dragons v3.5 Character Sheet generator in Borland C++Bulider 5. I am also the creator of C# MARC Editor, a tool for editing bibliography records.</p>
            <p>As a career I’m a web developer that works in a combination of PHP, C#, and Angular.</p>
            <br/><br/>
            <h3>Social Media</h3>

            <p>
                <a href="https://twitter.com/afrozenpeach"><fa-icon [icon]="faTwitter" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Twitter: @AFrozenPeach</a><br/>
                <a href="https://www.facebook.com/frozenpeach"><fa-icon [icon]="faFacebook" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Facebook: FrozenPeach</a><br/>
                <a href="https://www.github.com/afrozenpeach"><fa-icon [icon]="faGithub" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Github: AFrozenPeach</a><br/>
                <a href="https://mattie.lgbt"><fa-icon [icon]="faWordpress" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Wordpress: Mattie.LGBT</a><br/>
                <a href="https://afrozenpeach.tumblr.com/"><fa-icon [icon]="faTumblr" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Tumblr: AFrozenPeach</a><br/>
                <a href="https://patreon.com/mattieschraeder" matTooltip="Patreon"><fa-icon [icon]="faPatreon" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Patreon: MattieSchraeder</a><br/>
                <a href="https://discord.gg/KGWaqvW" matTooltip="Discord: Frozen's Peaches"><fa-icon [icon]="faDiscord" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Discord: Frozen's Peaches</a><br/>
                <a href="mailto:mattie@mattie.lgbt"><fa-icon [icon]="faEnvelope" [styles]="{ 'color': '#3f51b5' }" [fixedWidth]="true"></fa-icon>Email: mattie@mattie.lgbt</a>    
            </p>
        </mat-card-content>
    </mat-card>

    <app-blog class="blog" *ngFor="let b of blogs" [blog]="b"></app-blog>
</div>