<mat-card appearance="outlined" (click)="redirect(game?.buttons[0]?.clickUrl)">
    <mat-card-header>
        <mat-card-title>{{ game?.title }}</mat-card-title>
        <mat-card-subtitle>{{ game?.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img class="cardImage" matCardImage src="{{ game?.imageUrl }}">
    <mat-card-content>
        {{ game?.content }}<br/><br/>
        <span style="font-weight: bold;">Status:</span> {{ game?.status}}
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button *ngFor="let b of game?.buttons" (click)="redirect(b.clickUrl)">{{ b.text }}</button>        
    </mat-card-actions>
</mat-card>