<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Skills and Abilities</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="floatLeft">
                <h3>Programming Languages</h3>
                <ul>
                    <li>PHP - 13+ years</li>
                    <li>C# - 13+ years</li>
                    <li>JavaScript/jQuery - 13+ years</li>
                    <li>Node.JS/Angular - 3 years</li>
                    <li>HTML/CSS - 13+ years</li>
                    <li>VB.net - 5 years</li>
                    <li>VB6 - 3 years</li>
                    <li>Others: C++, Python, Perl, Ruby</li>
                </ul>

                <h3>Databases</h3>
                <ul>
                    <li>Microsoft SQL Server – 13+ years</li>
                    <li>MySQL and phpMyAdmin – 13+ years</li>
                    <li>SQLite 3 – 3 years</li>
                    <li>CosmosDB - 2 years</li>
                    <li>AS400/DB2 – 2 years</li>
                    <li>MongoDB – 2 year</li>
                </ul>

                <h3>Project Management</h3>
                <ul>
                    <li>Co-managed a two-year project to rewrite and redesign an order system to business and user specifications</li>
                    <li>Managed a six-month project to develop an interactive pricing estimate system</li>
                    <li>Managed a year-long project to convert a COBOL command line application into a full featured templating system in C#</li>
                    <li>Managed a six-month project to build a SOLR/Lucene based search engine</li>
                </ul>
            </div>

            <div class="floatLeft">
                <h3>Network Administration</h3>
                <ul>
                    <li>pfSense firewall appliance - 2 years</li>
                    <li>Cisco ASA 5500 firewall appliance - 6 years</li>
                    <li>Fibre channel backend for SAN and BladeCenter servers - 2 years</li>
                </ul>

                <h3>Server Administration</h3>
                <ul>
                    <li>Ubuntu Server Edition / misc. Linux – 13+ years</li>
                    <li>Windows Server – 8+ years</li>
                    <li>VMware vSphere administration – 6+ years</li>
                    <li>Vagrant - 2 years</li>
                </ul>

                <h3>Legacy Code</h3>
                <ul>
                    <li>Assisted and lead conversions of legacy PHP 4 code to PHP 5 and PHP 5 to PHP 7</li>
                    <li>Converted and/or rewrote VB6 and VB.net to PHP 5 or C#</li>
                    <li>Rewrote and redesigned a COBOL command line application using C#</li>
                </ul>

                <h3>Conference Talks</h3>
                <ul>
                    <li>Code4Lib 2018 - Lightning Talk - <a href="https://youtu.be/J0MgXQ_WJyA">Working with MARC: An Outsider's Perspective</a></li>
                    <li>Board Game Broads - <a href="https://youtu.be/pMfI1oUwm5w">Creating and testing board game prototypes in Tabletop Simulator</a></li>
                    <li>PixelPop Festival 2020 - <a href="https://www.youtube.com/watch?v=5Dotzq7SvpU">Designing Board Games for Inclusivity</a></li>
                    <li>Nonepub 2021 - <a href="https://youtu.be/760eiG0ZToQ">New Designer, New Publisher? No Problem!</a></li>
                </ul>
            </div>

            <div class="clear"></div>
        </mat-card-content>
    </mat-card>
</div>

<div class="projectContainer">
    <app-project class="project" *ngFor="let p of projects" [project]="p"></app-project>
</div>