<div class="gameContainer">
    <app-game class="game" *ngFor="let g of games" [game]="g"></app-game>
</div>

<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Geekway to the West</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="floatLeft padme" src="assets/images/geekwaylogo.png">
            <p>I help run the annual Geekway to the West board game convention at the St. Charles Convention Center as well as Geekway Mini at Westport Plaza in St. Louis.</p>
            <p>Primarily my job is to manage the website, but I also help with other various tasks.</p>
            <div class="clear"></div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="redirect('https://geekwaytothewest.com')">Find out more</button>
        </mat-card-actions>
    </mat-card>

    <br/>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Building the Game Podcast - Episode 614: Oops All Play to Win</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>I chat with Jason Slingerland of Building the Game Podcast about Geekway's Playtest to Win event and the design of Oops All Bangers.</p>
            <div class="clear"></div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="redirect('https://buildingthegamepodcast.com/episode-614-oops-all-play-to-win/')">Find out more</button>
        </mat-card-actions>
    </mat-card>

    <br/>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Board Game Broadscast - Season 2 Episode 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="floatLeft padme" src="assets/images/broadscast.webp">
            <p>In this episode of Board Game Broadscast, I walk through how to upload and playtest a board game on Tabletop Simulator.</p>
            <div class="clear"></div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="redirect('https://www.youtube.com/watch?v=pMfI1oUwm5w')">Find out more</button>
        </mat-card-actions>
    </mat-card>

    <br/>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Designing Board Games for Inclusivity - PixelPop Festival 2020</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="floatLeft padme" src="assets/images/pixelpop.png" width="246">
            <p>Inclusivity in video games has been something discussed for several years in depth, but the topic doesn’t come up as much in the board game industry. When it is, it’s often written off as a non-issue. In this talk I will be going over subjects such as designing themes, player interactions, artwork, and rules to be as inclusive as possible while not sacrificing your creative visions.</p>
            <div class="clear"></div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="redirect('https://www.youtube.com/watch?v=5Dotzq7SvpU')">Find out more</button>
        </mat-card-actions>
    </mat-card>

    <br/>

    <mat-card>
        <mat-card-header>
            <mat-card-title>New Designer, New Publisher? No Problem! - Nonepub 2021</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="floatLeft padme" src="assets/images/nonepub.png" width="246">
            <p>The publisher for Heckin Hounds, James Parsons of Sapphire City Games, and myself talk about being new to the board game industry and our experiences launching a new game.</p>
            <div class="clear"></div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button (click)="redirect('https://youtu.be/760eiG0ZToQ')">Find out more</button>
        </mat-card-actions>
    </mat-card>
</div>