.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.padContent {
  padding: 10px;
}

fa-icon {
  padding-right: 10px;
  color: pink;

  &:hover {
    color: darkblue;
  }
}

.headerIcon {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

mat-nav-list fa-icon {
  color: darkblue;

  &:hover {
    color: pink;
  }
}

.socialMedia {
  padding: 20px;
}

.rainbow {
  background: linear-gradient(124deg, #5BCEFA, #F5A9B8, #FFFFFF,#F5A9B8,#5BCEFA);
  background-size: 100% 100%;
}