<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="personal">Personal & Blogs</a>
      <a mat-list-item href="boardgames">Board Games</a>
      <a mat-list-item href="development">Development</a>
      <mat-divider></mat-divider>
      <span class="socialMedia" *ngIf="isHandset$ | async">
        <br/>
        <a href="https://twitter.com/afrozenpeach"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="https://www.facebook.com/frozenpeach"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://www.github.com/afrozenpeach"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="https://mattie.lgbt"><fa-icon [icon]="faWordpress"></fa-icon></a>
        <a href="https://afrozenpeach.tumblr.com/"><fa-icon [icon]="faTumblr"></fa-icon></a>
        <a href="mailto:mattie@mattie.lgbt"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="rainbow">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img *ngIf="!(isHandset$ | async)" class="headerIcon" src="assets/images/afrozenpeach.png">
      <span>A Frozen Peach / Mattie Schraeder</span>
      <span *ngIf="!(isHandset$ | async)">
        <a href="https://twitter.com/afrozenpeach"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="https://www.facebook.com/frozenpeach"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://www.github.com/afrozenpeach"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="https://mattie.lgbt"><fa-icon [icon]="faWordpress"></fa-icon></a>
        <a href="https://afrozenpeach.tumblr.com/"><fa-icon [icon]="faTumblr"></fa-icon></a>
        <a href="mailto:mattie@mattie.lgbt"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </span>
    </mat-toolbar>
    <div class="padContent">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
