<mat-card>
    <mat-card-header>
        <mat-card-title><fa-icon [icon]="section?.icon"></fa-icon> {{ section?.title }}</mat-card-title>
        <mat-card-subtitle>{{ section?.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img class="cardImage" matCardImage src="{{ section?.imageUrl }}">
    <mat-card-content>
        {{ section?.content }}
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button *ngFor="let b of section?.buttons" (click)="redirect(b.clickUrl)">{{ b.text }}</button>        
    </mat-card-actions>
</mat-card>