<mat-card>
    <mat-card-header>
        <mat-card-title>Personal Blog</mat-card-title>
        <mat-card-subtitle>mattie.lgbt</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="/assets/images/TransMercy.jpg">
    <mat-card-content>
        My personal blog where I write a lot about being transgender in the Midwest
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button onclick="location.href='https://mattie.lgbt'">Read</button>        
    </mat-card-actions>
</mat-card>