<mat-card>
    <mat-card-header>
        <mat-card-title>{{ section.title }}</mat-card-title>
        <mat-card-subtitle>{{ section.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img class="cardImage" matCardImage src="{{ section.imageUrl }}">
    <mat-card-content>
        {{ section.content }}
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button *ngFor="let b of section.buttons" (click)="b.clickEvent">{{ b.text }}</button>        
    </mat-card-actions>
</mat-card>